.favorite {
  display: flex;
  gap: 20px;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news__link {
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% auto auto;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #4e8ff5;
  @media (max-width: 700px) {
    grid-template-columns: 100%;
  }
}

.news__box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media (max-width: 700px) {
    height: 200px;
  }
}

.news__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 1s;
}

.news__link:hover > .news__box .news__img {
  transform: scale(1.1);
}

.news__wrapper {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 700px) {
    margin: 0 16px 16px 16px;
  }
}

.news__info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.news__name {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #000000;
}

.news__time {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: rgba(6, 6, 15, 0.6);
}

.news__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.12px;
  color: #000000;
}

.news__description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.12px;
  color: rgba(6, 6, 15, 0.6);
}
