.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 16px 24px rgba(104, 106, 115, 0.08),
    0 2px 8px rgba(104, 106, 115, 0.06);
  transition: box-shadow 0.2s;
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__logo {
    height: 28px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.12px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & span {
      @media (max-width: 630px) {
        display: none;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
